.seccion-contenedor{
    background: #F8F9FA;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.seccion-imagen{
    width: 45%;
    border-radius: 5px;
}

.seccion-imagen-pequeña{
    width: 30%;
    border-radius: 5px;
}

.seccion-texto{
    width: 50%;
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: column;
    padding: 20px;
}

.seccion-texto-titulo{
    text-align: left;
    color: #18181B;
    font-weight: 700;
    font-size: 2rem;
    transition-duration: 0.5s;
}

.seccion-texto-separador{
    width: 20%;
    height: 4px;
    background: #18181B;
    margin: 10px auto 10px 0;
    transition-duration: 0.5s;
}

.seccion-texto-parrafo{
    text-align: justify;
}

.seccion-boton{
    width: 8rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #18181B;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: #FFC107;
    border-color: #FFC107;
    font-weight: 700;
    transition-duration: 0.5s;
}

.seccion-lista{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
}

.seccion-lista-item{
    display: flex;
    align-items: center;
    background: #ECECEC;
    border-radius: 0.25rem;
    padding: 10px;
    margin-bottom: 2%;
    transition-duration: 0.5s;
    text-decoration: none;
}

.seccion-lista-icono{
    margin-right: 10px;
    width: 60px;
    height: 60px;
}

.seccion-lista-parrafo{
    text-align: left;
    font-size: 0.9rem;
    color: #18181B;
    font-weight: 700;
}

.seccion-galeria{
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.seccion-galeria .seccion-imagen{
    margin: 2% 0;
}

.seccion-galeria .seccion-imagen-pequeña{
    margin: 2% 0;
}

.seccion-tarjetas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.seccion-tarjeta{
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px 0;
    background: #ECECEC;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.seccion-tarjeta-imagen{
    width: 95%;
    border-radius: 5px;
    margin: 5px 0;
    transition-duration: 0.5s;
}

.seccion-tarjeta-imagen-egreso{
    width: 35%;
    border-radius: 5px;
    margin: 5px 0;
    transition-duration: 0.5s;
}

.seccion-tarjeta-titulo{
    text-align: center;
    font-size: 1rem;
    color: #18181B;
    font-weight: 700;
    transition-duration: 0.5s;
}

.seccion-tarjeta-descripcion{
    text-align: justify;
    margin: 5px 0;
    font-size: 0.9rem;
    transition-duration: 0.5s;
}

.seccion-texto-subtitulo{
    text-align: left;
    color: #18181B;
    font-weight: 700;
    font-size: 1.5rem;
    transition-duration: 0.5s;
}

.seccion-texto-lista-item{
    list-style-type: disc;
    text-align: justify;
    margin: 3px 0;
}

.seccion-redes{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.seccion-redes-icono{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    transition-duration: 0.5s;
}

/*Elementos en modo oscuro*/

.seccion-contenedor.modoOscuro{
    background: #18181B;
}

.seccion-contenedor.modoOscuro .seccion-texto-titulo{
    color: #F8F9FA;
}

.seccion-contenedor.modoOscuro .seccion-texto-separador{
    background: #F8F9FA;
}

.seccion-contenedor.modoOscuro .seccion-texto-parrafo{
    color: #F8F9FA;
}

.seccion-contenedor.modoOscuro .seccion-texto-lista-item{
    color: #F8F9FA;
}

/*Animaciones*/

.seccion-contenedor:hover .seccion-texto-titulo {
    color: #1D4ED8;
}

.seccion-contenedor:hover .seccion-texto-separador{
    background: #1D4ED8;
    width: 22%;
}

.seccion-boton:hover {
    width: 8.5rem;
    color: #18181B;
}

.seccion-lista-item:hover {
    background: #18181B;
    margin: 10px 0;
}

.seccion-lista-item:hover .seccion-lista-parrafo{
    color: #F8F9FA;
}

.seccion-contenedor.modoOscuro:hover .seccion-texto-titulo {
    color: #FFC107;
}

.seccion-contenedor.modoOscuro:hover .seccion-texto-separador {
    background: #FFC107;
}

.seccion-tarjeta:hover {
    background: #18181B;
}

.seccion-tarjeta:hover .seccion-tarjeta-titulo{
    color: #FFC107;
}

.seccion-tarjeta:hover .seccion-tarjeta-descripcion{
    color: #F8F9FA;
}

.seccion-tarjeta:hover .seccion-tarjeta-imagen{
    width: 100%;
}

.seccion-redes-icono:hover{
    filter: grayscale(0%);
}

/*Medias queries*/

@media (max-width: 740px) {

  }
